$white: #fff !global;
$black: #1f1f2e !global;
$fb-blue: #3b5998 !global;
$prime-contrast: rgb(246, 210, 82) !global;

$ft-main: #000 !global;
$ft-highlight: rgb(211, 109, 90) !global;
$ft-low-contrast: rgb(156, 155, 149) !global;

$bg-btn-primary: $prime-contrast !global;
$ft-btn-primary: $white !global;

$ft-link: $ft-low-contrast !global;
$ft-link-hover: $prime-contrast !global;

$bg-navbar: rgb(31, 30, 30) !global;
$bg-navbar-link-hover: rgb(39, 39, 39) !global;
