h1, h2, h3 {
  font-family: "shantiregular", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #98968f;
}

h1 { font-size: 3em };
h2 { font-size: 2em };
h3 { font-size: 1.5em };

body {
  background-color: rgb(231, 171, 167);
}

a:link, a:visited, a:hover, a:active {
  color: $ft-highlight;
  text-decoration: none;
}
