* {
  box-sizing: border-box;
}

body {
  font-family: 'open_sansregular', "Helvetica Neue", helvetica, arial, sans-serif;
}

h1, h2, h3 {
  font-family: "bebas_neuebold", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: bold;
  color: #98968f;
}

h1 {
  font-size: 3em;
};
h2 { font-size: 2em };
h3 { font-size: 1.5em };

body {
  // background-color: rgb(34, 31, 31);
}

a:link, a:visited, a:hover, a:active {
  color: $ft-link;
  text-decoration: none;
  transition: color 0.5s ease-in-out;

  &:hover, &.is-touched {
    color: $ft-link-hover;
  }
}

p {
  line-height: 1.2;
  margin-bottom: 1em;
  // font-family: "open_sanslight", "Helvetica Neue", helvetica, arial, sans-serif;
  // font-weight: thin;
}
