<div class="hy-course-preview">
  <div class="hy-course-preview-headline-wrapper">
    <h3 class="hy-course-preview-headline  fa fa-calendar">1. Okt</h3>
  </div>

  <ul class="hy-course-preview-list">
    <li class="hy-course-preview-list-item">
      <article class="hy-course-preview-item">
        <header class="hy-course-preview-item-header">
          <h3 class="hy-course-preview-item-headline">LUNA YOGA</h3>
          <p class="hy-course-preview-item-time-slot fa fa-clock-o">10:00 - 11:30</p>
          <i class="hy-course-preview-item-availability fa fa-circle closed"></i>
        </header>
      </article>
    </li>

    <li class="hy-course-preview-list-item">
      <article class="hy-course-preview-item">
        <header class="hy-course-preview-item-header">
          <h3 class="hy-course-preview-item-headline">YOGA FLOW</h3>
          <p class="hy-course-preview-item-time-slot fa fa-clock-o">18:15 - 19:30</p>
          <i class="hy-course-preview-item-availability fa fa-circle closed"></i>
        </header>
      </article>
    </li>

    <li class="hy-course-preview-list-item">
      <article class="hy-course-preview-item">
        <header class="hy-course-preview-item-header">
          <h3 class="hy-course-preview-item-headline">YOGA BASICS</h3>
          <p class="hy-course-preview-item-time-slot fa fa-clock-o">20:00 - 21:30</p>
          <i class="hy-course-preview-item-availability fa fa-adjust"></i>
        </header>
      </article>
    </li>
  </ul>
</div>
