<header class="hy-layout-header" data-parallax="scroll" data-image-src="<%= image_path "himalaya.jpg" %>">
  <%= render "navigation/meta_nav" %>
  <%= render "navigation/navbar" %>
  <%= render "welcome_header" %>
</header>

<div class="hy-layout-body">
  <div class="hy-placement hy-course-previews">
    <ul class="hy-course-preview">
      <li class="hy-course-preview-item">
fds
      </li>
    </ul>
    <!-- <ul class="hy-course-preview"></ul> -->
  </div>
</div>

<footer class="hy-layout-footer">

</footer>
