<header class="hy-layout-header" data-parallax="scroll" data-image-src="<%= image_path "himalaya.jpg" %>">
  <%= render "navigation/meta_nav" %>
  <%= render "navigation/navbar" %>
  <%= render "welcome_header" %>
</header>

<div class="hy-layout-body">
  <div class="hy-placement">
  </div>
</div>

<footer class="hy-layout-footer">

</footer>
