<header class="hy-layout-header" data-parallax="scroll" data-image-src="<%= image_path "himalaya.jpg" %>">
  <%= render "navigation/meta_nav" %>
  <%= render "navigation/navbar" %>
  <%= render "welcome_header" %>
</header>

<div class="hy-layout-body">
  <div class="hy-placement hy-course-previews">

    <div class="hy-course-preview">
      <div class="hy-course-preview-headline-wrapper">
        <h3 class="hy-course-preview-headline">1. Okt</h3>
      </div>

      <ul class="hy-course-preview-list">
        <li class="hy-course-preview-item">

        </li>
      </ul>
    </div>

  </div>
</div>

<footer class="hy-layout-footer">

</footer>
