.hy-layout {

}

.hy-layout-header {
  background-color: transparent;
  min-height: 50em;
  //
  // background-image: ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.hy-layout-footer {
  min-height: 2000px;
}
