.hy-placement.hy-course-previews {
  background: $white;
  height: 100px;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0;


  @include desktops {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.hy-course-preview {
  position: relative;
  height: 100%;


  display: none;

  &:first-of-type {
    display: block;
  }

  @include beyond-mobiles {
    display: block;
    float: left;
    width: 50%;
  }
}

.hy-course-preview-headline-wrapper {
  background-color: $white;
  height: 100%;

  @include desktops {
    position: absolute;
    top: -15%;
    bottom: -15%;
    height: 130px;
    // width: 130px;
    // border-radius: 3px;
    box-shadow: 1px 1px 5px 1px rgba(173,172,159,.2);
  }

  padding: 1em 2em;
  z-index: 2;
}

.hy-course-preview-list {
  margin-left: 8em;

  @include desktops {
    margin-left: 10em;
  }
  overflow: hidden;
}

.hy-course-preview-list, .hy-course-preview-list-item {
  height: 100%;
}

.hy-course-preview-headline {
  @include v-aligned;
  font-family: "bebas_neuebold", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1.5em;
  top: 30%;


  @include desktops {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  &:before {
    font-family: "FontAwesome";
    font-size: 1.2em;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
  }
}
