.hy-meta-nav {
  .member-links {
    position: absolute;
    top: 0;
    right: 0;
    height: 75px;

    & > * {
      float: right;
    }
  }

  .fb-link {
    @include protect-v-aligned();
    height: 100%;
    width: 75px;
    background-color: $white;

    &:hover {
      background: $fb-blue;
      color: $white;
    }

    .hy-meta-nav-link {
      height: 100%;
      width: 100%;
      text-align: center;
      color: $fb-blue;

      &:hover {
        color: $white;
      }

      &:before {
        display: block;
        font-size: 2em;
        @include v-aligned();
      }
    }
  }

  .login-link {
    @include protect-v-aligned();
    height: 100%;
    margin-right: 2em;

    .hy-meta-nav-link {
      @include v-aligned();
      font-family: 'open_sansregular', "Helvetica Neue", helvetica, arial, sans-serif;
      font-size: 1.1em;

      &:before {
        font-family: 'Genericons';
        font-size: 1.3em;
        position: absolute;
        top: -2px;
        right: 100%;
      }
    }
  }
}
