.hy-navbar {
  background-color: $white;
  // display: none;

  @include desktops {
    width: 80%;
    max-width: $break-desktop-max;
    margin: 0 auto;
    padding: 1em;
    padding-left: 3em;
  }

  .hy-navbar-link {
    font-family: "open_sansregular", "Helvetica Neue", helvetica, arial, sans-serif;
    color: $ft-low-contrast;
    text-transform: uppercase;
    transition: color 0.5s ease;
    font-size: .875em;

    &.genericon {
      font-family: "Genericons";
      font-size: 1.5em;
      top: 50%;
    }

    &:hover {
      color: $ft-main;
    }

    &:active {
      color: $ft-highlight;
    }

    &.genericon-facebook:hover {
      color: #3b5998;
    }
  }
}
