.hy-layout {
  overflow: hidden;
}

.hy-layout-header {
  background-color: transparent;
  min-height: 45em;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  position: relative;
  top: 0;
  left: 0;

  transition: left 0.5s ease-in-out;

  &.with-menu-opened {
    left: $navbar-width;
  }
}

.hy-layout-footer {
  min-height: 2000px;
}
