.hy-course-preview-item {
  @include v-aligned;
}

.hy-course-preview-list-item {
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;

  &:first-of-type {
    opacity: 1;
  }
}

.hy-course-preview-item-availability {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  color: green;

  &:before {
    padding-right: 1em;
  }

  &.closed:before {
    color: $nice-red;
  }
}

.hy-course-preview-item-header {

}

.hy-course-preview-headline {
  &:before {
    color: $nice-red;
  }
}

.hy-course-preview-item-time-slot:before {
  margin-right: .5em;
}


.hy-course-teacher {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
}

.hy-course-teacher-avatar-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}
.hy-course-teacher-avatar {
  max-width: 100%;
}
