<nav class="hy-meta-nav">
  <div class="member-links">
    <div class="fb-link">
      <a href="" class="hy-meta-nav-link genericon genericon-facebook-alt"></a>
    </div>

    <div class="login-link">
      <a href="" class="genericon genericon-external hy-meta-nav-link">Anmelden</a>
    </div>
  </div>
</nav>
