<nav class="hy-meta-nav">
  <div class="member-links">
    <div class="fb-link">
      <a href="https://www.facebook.com/happyyogaessen" class="hy-meta-nav-link fa fa-facebook touch-bind"></a>
    </div>

    <div class="login-link">
      <a href="https://clients.mindbodyonline.com/ASP/home.asp?studioid=17880" class="fa fa-user hy-meta-nav-link touch-bind">Anmelden</a>
    </div>
  </div>
</nav>
