<nav class="hy-meta-nav">
  <div class="member-links">
    <div class="fb-link">
      <a href="" class="hy-meta-nav-link fa fa-facebook"></a>
    </div>

    <div class="login-link">
      <a href="" class="fa fa-user hy-meta-nav-link">Anmelden</a>
    </div>
  </div>
</nav>
