<nav class="hy-meta-nav">
  <!-- <ul class="hy-link-list">

    <li class="hy-link-list-item">
      <a href="" class="hy-navbar-link">Aktuelles</a>
    </li>
    <li class="hy-link-list-item">
      <a href="" class="hy-navbar-link">Angebote</a>
    </li>
    <li class="hy-link-list-item is-optional">
      <a href="" class="hy-navbar-link">Anfahrt</a>
    </li>
    <li class="hy-link-list-item is-optional">
      <a href="" class="hy-navbar-link">Kontakt</a>
    </li> -->
    <!-- <li class="hy-link-list-item social-link"> -->
    <!-- </li> -->
    <!-- <li class="hy-link-list-item login-link">
      <a href="" class="hy-navbar-link genericon genericon-external">Anmelden</a>
    </li>
  </ul> -->

  <div class="member-links">
    <div class="fb-link">
      <a href="" class="hy-meta-nav-link genericon genericon-facebook-alt"></a>
    </div>

    <div class="login-link">
      <a href="" class="hy-meta-nav-link genericon genericon-external">Anmelden</a>
    </div>
  </div>
</nav>
