<nav class="hy-navbar">
  <ul class="hy-link-list">
    <li class="hy-link-list-item hy-navbar-brand">
      <img class="hy-brand"
        src="<%= image_path "happy-yoga-small.svg" %>" onerror="this.onerror=null; this.src='<%= image_path "happy-yoga-small3x.png" %>'"
        alt="Happy Yoga">
    </li>
    <li class="hy-link-list-item">
      <a href="#" class="hy-navbar-link fa fa-newspaper-o touch-bind touch-bind">Aktuelles</a>
    </li>
    <li class="hy-link-list-item">
      <a href="#" class="hy-navbar-link fa fa-gift touch-bind touch-bind">Angebote</a>
    </li>
    <li class="hy-link-list-item">
      <a href="#" class="hy-navbar-link fa fa-calendar touch-bind touch-bind">Kursplan</a>
    </li>
    <li class="hy-link-list-item is-optional">
      <a href="#" class="hy-navbar-link fa fa-map-o touch-bind touch-bind">Anfahrt</a>
    </li>
    <li class="hy-link-list-item is-optional">
      <a href="#" class="hy-navbar-link fa fa-send-o touch-bind touch-bind">Kontakt</a>
    </li>
  </ul>


  <button type="button" name="open-navbar" class="hy-navbar-toggle fa fa-bars hy-btn hy-icn-square hy-btn-primary"></button>
</nav>
