<nav class="hy-navbar">
  <ul class="hy-link-list">
    <li class="hy-link-list-item">
      <a href="#" class="hy-navbar-link">Aktuelles</a>
    </li>
    <li class="hy-link-list-item">
      <a href="#" class="hy-navbar-link">Angebote</a>
    </li>
    <li class="hy-link-list-item is-optional">
      <a href="#" class="hy-navbar-link">Anfahrt</a>
    </li>
    <li class="hy-link-list-item is-optional">
      <a href="#" class="hy-navbar-link">Kontakt</a>
    </li>
  </ul>


  <button type="button" name="open-navbar" class="hy-navbar-toggle genericon genericon-menu hy-btn hy-icn-square hy-btn-primary"></button>
</nav>
