<nav class="hy-navbar">
  <ul class="hy-link-list">
    <!-- <li class="hy-link-list-item hy-brand-wrapper">
      <img class="hy-brand-small"
        src="<%= image_url "happy-yoga-small.svg" %>" onerror="this.onerror=null; this.src='<%= image_url "happy-yoga-small3x.png" %>'"
        alt="Happy Yoga">
    </li> -->
    <li class="hy-link-list-item">
      <a href="" class="hy-navbar-link">Aktuelles</a>
    </li>
    <li class="hy-link-list-item">
      <a href="" class="hy-navbar-link">Angebote</a>
    </li>
    <li class="hy-link-list-item">
      <a href="" class="hy-navbar-link">Anfahrt</a>
    </li>
    <li class="hy-link-list-item">
      <a href="" class="hy-navbar-link">Kontakt</a>
    </li>
    <li class="hy-link-list-item">
      <a href="" class="hy-navbar-link">Öffnungszeiten</a>
    </li>
    <li class="hy-link-list-item social-link">
      <a href="" class="hy-navbar-link genericon genericon-facebook"></a>
    </li>
  </ul>
</nav>
